.form-group {
	--color-primary: tomato;
	color: #333;

	position: relative;
	gap: 0.8rem;
}

.form-group::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background-color: var(--color-primary);
}

.form__input-label {
	font-size: 1.5rem;
	font-weight: 500;
	display: block;
}

.form__input-field {
	border: 0;
	padding: 0.5rem 0;
	background-color: transparent;
	color: inherit;
}

.form__input-field:focus {
	outline: none;
}

.form__input-error {
	font-size: 1.4rem;
	color: red;
}
